
@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaAile-Thin.woff2') format('woff2'), url('TTF/IosevkaAile-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaAile-ThinOblique.woff2') format('woff2'), url('TTF/IosevkaAile-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Aile Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2/IosevkaAile-ThinOblique.woff2') format('woff2'), url('TTF/IosevkaAile-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaAile-ThinItalic.woff2') format('woff2'), url('TTF/IosevkaAile-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaAile-ExtraLight.woff2') format('woff2'), url('TTF/IosevkaAile-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaAile-ExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaAile-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Aile Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2/IosevkaAile-ExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaAile-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaAile-ExtraLightItalic.woff2') format('woff2'), url('TTF/IosevkaAile-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaAile-Light.woff2') format('woff2'), url('TTF/IosevkaAile-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaAile-LightOblique.woff2') format('woff2'), url('TTF/IosevkaAile-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Aile Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2/IosevkaAile-LightOblique.woff2') format('woff2'), url('TTF/IosevkaAile-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaAile-LightItalic.woff2') format('woff2'), url('TTF/IosevkaAile-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaAile-Regular.woff2') format('woff2'), url('TTF/IosevkaAile-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaAile-Oblique.woff2') format('woff2'), url('TTF/IosevkaAile-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Aile Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2/IosevkaAile-Oblique.woff2') format('woff2'), url('TTF/IosevkaAile-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaAile-Italic.woff2') format('woff2'), url('TTF/IosevkaAile-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaAile-Medium.woff2') format('woff2'), url('TTF/IosevkaAile-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaAile-MediumOblique.woff2') format('woff2'), url('TTF/IosevkaAile-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Aile Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2/IosevkaAile-MediumOblique.woff2') format('woff2'), url('TTF/IosevkaAile-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaAile-MediumItalic.woff2') format('woff2'), url('TTF/IosevkaAile-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaAile-SemiBold.woff2') format('woff2'), url('TTF/IosevkaAile-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaAile-SemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaAile-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Aile Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2/IosevkaAile-SemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaAile-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaAile-SemiBoldItalic.woff2') format('woff2'), url('TTF/IosevkaAile-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaAile-Bold.woff2') format('woff2'), url('TTF/IosevkaAile-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaAile-BoldOblique.woff2') format('woff2'), url('TTF/IosevkaAile-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Aile Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2/IosevkaAile-BoldOblique.woff2') format('woff2'), url('TTF/IosevkaAile-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaAile-BoldItalic.woff2') format('woff2'), url('TTF/IosevkaAile-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaAile-ExtraBold.woff2') format('woff2'), url('TTF/IosevkaAile-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaAile-ExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaAile-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Aile Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2/IosevkaAile-ExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaAile-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaAile-ExtraBoldItalic.woff2') format('woff2'), url('TTF/IosevkaAile-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaAile-Heavy.woff2') format('woff2'), url('TTF/IosevkaAile-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaAile-HeavyOblique.woff2') format('woff2'), url('TTF/IosevkaAile-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Aile Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2/IosevkaAile-HeavyOblique.woff2') format('woff2'), url('TTF/IosevkaAile-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Aile Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaAile-HeavyItalic.woff2') format('woff2'), url('TTF/IosevkaAile-HeavyItalic.ttf') format('truetype');
}
